<div class="outer comment">
    <div class="header">
        <h3>From {{user.username}}</h3>
        <h5>{{format_date created_at}}</h5>
    </div>
    <div class="content">
        <p>{{comment_text}}</p>
    </div>
</div>