<form>
    <div class="form-group">
        <label for="username-input">Username:</label>
        <input type="text" id="username-input" class="form-control" name="username-input">        
    </div>
    {{> login-partial}}
    <button type="submit" class="btn btn-primary">Sign Up</button>    
</form>
<a href="/login">Already have an account? Login instead.</a>