<form class="signup-form">
    {{> login-partial}}
    <button type="submit" class="btn btn-primary">Sign Up</button>    
</form>
<a href="/login">Already have an account? Login instead.</a>

<script src="/javascript/signup.js"></script>