<div class="posts-container">
    {{>simple-post post}}
    {{#if post.comments}}
    <h2 class="comment-header align-self-start">Comments</h2>
    {{#each post.comments}}
    {{> comment-partial}}
    {{/each}}
    {{else}}
    <h1 class="text-muted text-center">This post has no comments yet!</h1>
    {{/if}}
    <form class="add-comment w-100 mb-5 d-none">
        <div class="form-group">
            <label for="comment-content">What would you like to comment?</label>
            <textarea class="form-control" name="comment-content" id="comment-content" rows="5"></textarea>            
        </div>
        <button type="submit" class="btn btn-primary" id="add-comment-btn">Add Comment</button>
        <button type="button" class="btn btn-secondary" id="cancel-comment-btn">Cancel</button>
    </form>
    <button type="button" id="start-new-comment-btn" class="btn btn-success my-5">&plus; Add a Comment</button>
</div>

<script src="/javascript/comment.js"></script>